:host {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fruit-grid{
  margin: 0;
  padding: 10px 0;
  width: 50%;
}

.fruit-row{
  display: inline-block;
  width: 800px;
}

.fruit-square-link{
  text-decoration: none;
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}

.fruit-square{
  padding: 20px;
  text-align: center;
  color: darkslategray;
  background-color: #607DBB;
  max-height: 150px;
  min-width: 150px;
  border-radius: 2px;
}

h4{
  position: relative;
}